<div class="row">
    @*<div class="col" id="aboutAuthor">
        <h1>About Wesley</h1>
        <p>My name is Wesley Sorrentino. I'm a Aspiring Full Stack Developer, and I'm also a Music Producer and Composer. 
            I've been building websites since late 2018, when I was at my previous job. Then after leaving that job, That's when I started to take Web development serious. 
            I started out making simple one page projects see my portfolio for some of my earlier stuff.
        </p>
    </div>*@
	<div class="col-lg-12 text-center">
			<h1>About the Author</h1>
			<img id="author-image" src="~/img/titled 02.png" class="rounded" style="border-radius: 100%" alt="Wesley Sorrentino" />
		</div>

	<div class=col-12>
		<p>
            My name is Wesley Sorrentino. I'm a Aspiring Full Stack Developer, and I'm also a Music Producer and Composer. 
            I've been building websites since late 2018, when I was at my previous job. 
            Then after leaving that job, That's when I started to take Web development serious. I started out making simple one page projects see <a href="https://portfolio.wesleysorrentino.com/" target="_blank">my portfolio</a>
            for some of my earlier stuff.
            
        </p>
	</div>

    <div class="col-sm-12">
			<h3>This App was built with: </h3>
			<hr />
			<div id="logos" class="col-12 justify-content-center">
				<a class="logo" href="https://dotnet.microsoft.com/apps/aspnet"><img class="img-thumbnail" src="~/img/aspnet_logo.png" alt="Asp.net Logo" width="100"/></a>
				<a class="logo" href="https://docs.microsoft.com/en-us/dotnet/csharp/"><img class="img-thumbnail" src="~/img/699px-C_Sharp_logo.svg.png" alt="Csharp Logo" width="100" /></a>
				<a class="logo" href="https://www.postgresql.org/"><img class="img-thumbnail" src="~/img/elephant.png" alt="PostgreSQL Logo" width="100"/></a>
				<a class="logo" href="https://getbootstrap.com/"><img class="img-thumbnail" src="~/img/480px-Bootstrap_logo.svg.png" alt="Bootstrap logo" width="100"/></a>
			</div>
			<p>
				This Project was built using CSharp as the server-side language, Asp.net as the framework, PostgreSQL as the database and for the front-end it uses Bootstrap with my own custom css, SweetAlert for notifications and can't forget HTML and a little bit of JavaScript.
				<br />
				Hosting is being done on heroku. 
				For Planning I used Microsoft Task to keep track of what needed to be done, Google Draw for a Database Diagram for planning tables.
				<br />
				View the Source code <a href="https://github.com/WesleySorrentino/BlogApp">here.</a>
			</p>
		</div>
</div>